html{
    background-color: #fbfcfd;
    color:#283959 ;

    font-size: 18px;
    font-family: Helvetica, sans-serif;

}

p{
    text-indent: 1em;
}

h1,h2,h3{

    text-align: center;

}

h1{
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 1.2rem;
}

.summary{text-align: right;}

.main p {line-height: 1.5;}
abbr{font-variant: small-caps;}

.page-wrapper{
    width: 80%;
    max-width: 1280px;
    margin: auto;
}

#zen-intro{
    height: 550px;
}
/*retirar elemento da página html*/
#design-archives{
    display: none;
}

#Zen-intro header{
    background-color:#283959 ;
    color: #fbfcfd;
}

#Zen-intro header h1,#Zen-intro header h2{
    display: inline-block;
}

#Zen-intro header h1{
    margin-left: 1em;
    margin-right: 1em;
}

aside ul{
    list-style-type: none;
}

aside ul li{
    margin: 1em;
    text-align: center;
}

.main footer{
    margin: 4%;
}

.main footer{
    border: solid 2px #283959;
    padding: 0.5em;
    display: inline-block;
}